.env
.github
.vscode
.prettierrc
README.md
LICENSE
connect_mongo.bat
.eslintrc.yml
package.json
package-lock.json
node_modules/

locations.txt
buildreportplugin.py
importvillagedata.py
villages.xlsx
NewLocationResponse.json